
.template {
    display: none;
}

body {
	background-image:url('../img/background2.png');
}

#footer_bottom {
		padding-bottom:96px;
}
.panel{
	
}

.footer {
	width:100%;
	max-width:100%;
}

#footer {
	bottom:0px;
	right:0;
	left:0;
	width:100%;
	background-image:url('../img/background2.png');
	position:fixed;
}

hr {
	color:#a1a1a1;
	background-color:#a1a1a1;
	height:2px;
}