
.template {
    display: none;
}

body {
	background-image:url('../img/background2.png');
}

#footer_bottom {
		padding-bottom:96px;
}
.panel{
	
}

.footer {
	width:100%;
	max-width:100%;
}

#concert, #education, #sports, #community {
	margin-bottom:20px;
	font-size:60px;
}

#footer {
	bottom:0px;
	right:0;
	left:0;
	width:100%;
	background-image:url('../img/background2.png');
	position:fixed;
}

hr {
	color:#a1a1a1;
	background-color:#a1a1a1;
	height:2px;
}

.size_up {
	font-size:25px;
}

.top_footer {
	margin-bottom:5px;
}

.image {
	margin-bottom:20px;
}

.pretty_button {
	line-height: 1;
	text-decoration:none;
	display: inline-block;
	padding: 8px 12px;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:1px;
	color:#fff;
	cursor:pointer;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.40);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.40);
text-shadow: -1px -1px 0px rgba(0,0,0,0.15);
background: #76bbc5 url('../images/overlay.png') left top repeat-x; /* fallback color + image */
background-image: -moz-linear-gradient(100% 100% 90deg, #76bbc5, #9ecbd1);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9ecbd1), to(#76bbc5));
}

.pretty_button:hover {
	opacity:0.8;
}

.test {
	position: fixed;
}